﻿@model CertificationTracker.Dto.Credential.UserCredentialEmail
@*@foreach (var userCredential in Model)
    {
        <p>@userCredential.Name</p>
    }*@
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <title>
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        #outlook a {
            padding: 0;
        }

        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

            .ExternalClass * {
                line-height: 100%;
            }

        body {
            margin: 0;
            padding: 0;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        table, td {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }

        p {
            display: block;
            margin: 13px 0;
        }

        .data-table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        .data-table-td, .data-table-th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>
<body>
    <div>
        <!--[if mso | IE]>
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:600px;" width="600"><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
    <![endif]-->
        <div style='margin:0px auto;max-width:600px;'>
            <table align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:100%;'>
                <tbody>
                    <tr>
                        <td style='direction:ltr;font-size:0px;padding:20px 0;text-align:center;vertical-align:top;'>
                            <!--[if mso | IE]>
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td style="vertical-align:top;width:600px;">
                        <![endif]-->
                            <div class='dys-column-per-100 outlook-group-fix' style='direction:ltr;display:inline-block;font-size:13px;text-align:left;vertical-align:top;width:100%;'>
                                <table border='0' cellpadding='0' cellspacing='0' role='presentation' style='vertical-align:top;' width='100%'>
                                    <tr>
                                        <td align='center' style='font-size:0px;padding:10px 25px;word-break:break-word;'>
                                            <table border='0' cellpadding='0' cellspacing='0' role='presentation' style='border-collapse:collapse;border-spacing:0px;'>
                                                <tbody>
                                                    <tr>
                                                        <td style='width:333px;'>
                                                            <img height='303' src='https://www.CertificationTracker.net/wp-content/themes/yootheme/cache/xheader-Environ-74529215.png.pagespeed.ic.OpmZ8pl637.webp' />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!--[if mso | IE]>
                        </td></tr></table>
                        <![endif]-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--[if mso | IE]>
    </td></tr></table>
    <![endif]-->
        <!--[if mso | IE]>
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:600px;" width="600"><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
    <![endif]-->
        <div style='margin:0px auto;max-width:600px;'>
            <table align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:100%;'>
                <tbody>
                    <tr>
                        <td style='direction:ltr;font-size:0px;padding:20px 0;text-align:center;vertical-align:top;'>
                            <!--[if mso | IE]>
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td style="vertical-align:top;width:600px;">
                        <![endif]-->
                            <div class='dys-column-per-100 outlook-group-fix' style='direction:ltr;display:inline-block;font-size:13px;text-align:left;vertical-align:top;width:100%;'>
                                <table border='0' cellpadding='0' cellspacing='0' role='presentation' style='vertical-align:top;' width='100%'>
                                    <tr>
                                        <td align='center' style='font-size:0px;padding:10px 25px;word-break:break-word;'>
                                            <div style='color:#055c31;font-family:Open Sans, Arial, sans-serif;font-size:18px;font-weight:bold;line-height:20px;text-align:center;'>
                                                <strong>
                                                    @Model.Name
                                                </strong>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align='center' style='font-size:0px;padding:10px 25px;word-break:break-word;'>
                                            <div style='color:#055c31;font-family:Open Sans, Arial, sans-serif;font-size:18px;line-height:20px;text-align:center;'>
                                                <em>
                                                    @Model.Description
                                                </em>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!--[if mso | IE]>
                        </td></tr></table>
                        <![endif]-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        @{
            if (Model.UserCredentialListingDtos.Count > 0)
            {
                <table class="data-table" width="100%" cellpadding="0" cellspacing="0" style="min-width:100%;">
                    <thead>
                        <tr class="data-table-tr">
                            <th class="data-table-th" scope="col" style="padding:5px; font-family: Arial,sans-serif; font-size: 16px; line-height:20px;line-height:30px">Employee Name</th>
                            <th class="data-table-th" scope="col" style="padding:5px; font-family: Arial,sans-serif; font-size: 16px; line-height:20px;line-height:30px">Credential</th>
                            <th class="data-table-th" scope="col" style="padding:5px; font-family: Arial,sans-serif; font-size: 16px; line-height:20px;line-height:30px">Type</th>
                            <th class="data-table-th" scope="col" style="padding:5px; font-family: Arial,sans-serif; font-size: 16px; line-height:20px;line-height:30px">Effective Date</th>
                            <th class="data-table-th" scope="col" style="padding:5px; font-family: Arial,sans-serif; font-size: 16px; line-height:20px;line-height:30px">Expiry Date</th>
                            <th class="data-table-th" scope="col" style="padding:5px; font-family: Arial,sans-serif; font-size: 16px; line-height:20px;line-height:30px">Site Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var userCert in Model.UserCredentialListingDtos)
                        {
                            <tr class="data-table-tr">
                                <td class="data-table-th" valign="top" style="padding:5px; font-family: Arial,sans-serif; font-size: 16px; line-height:20px;">@userCert.Name</td>
                                <td class="data-table-th" valign="top" style="padding:5px; font-family: Arial,sans-serif; font-size: 16px; line-height:20px;">@userCert.Credential</td>
                                <td class="data-table-th" valign="top" style="padding:5px; font-family: Arial,sans-serif; font-size: 16px; line-height:20px;">@userCert.Type</td>
                                <td class="data-table-th" valign="top" style="padding:5px; font-family: Arial,sans-serif; font-size: 16px; line-height:20px;">@userCert.EffectiveDate</td>
                                <td class="data-table-th" valign="top" style="padding:5px; font-family: Arial,sans-serif; font-size: 16px; line-height:20px;">@userCert.ExpiryDate</td>
                                <td class="data-table-th" valign="top" style="padding:5px; font-family: Arial,sans-serif; font-size: 16px; line-height:20px;">@userCert.SiteCode</td>
                            </tr>
                        }
                    </tbody>
                </table>
            } else
            {
                <h4 color="red">@(Model.Name == "Credential Expiration Report" ? "NO Credential Expiring in next 60 days" : "No Credential Expired in last 30 days")</h4>
            }
        }

        <br />
        <table align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='background:#30373b;background-color:#30373b;width:100%;'>
            <tbody>
                <tr>
                    <td>
                        <div style='margin:0px auto;max-width:600px;'>
                            <table align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:100%;'>
                                <tbody>
                                    <tr>
                                        <td style='direction:ltr;font-size:0px;padding:2px;text-align:center;vertical-align:top;'>
                                            <!--[if mso | IE]>
                                        <table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td style="vertical-align:top;width:600px;">
                                        <![endif]-->
                                            <div class='dys-column-per-100 outlook-group-fix' style='direction:ltr;display:inline-block;font-size:13px;text-align:left;vertical-align:top;width:100%;'>
                                                <table border='0' cellpadding='0' cellspacing='0' role='presentation' width='100%'>
                                                    <tbody>
                                                        <tr>
                                                            <td style='padding:10px;vertical-align:top;'>
                                                                <table border='0' cellpadding='0' cellspacing='0' role='presentation' style='' width='100%'>
                                                                    <!-- Footer Content -->
                                                                    <tr>
                                                                        <td align='center' style='font-size:0px;padding:5px;word-break:break-word;'>
                                                                            <div style='color:#848789;font-family:Open Sans, Arial, sans-serif;font-size:12px;line-height:18px;text-align:center;text-transform:uppercase;'>
                                                                                <a href='https://www.CertificationTracker.net/' style='text-decoration:underline; color:#848789;' target='_blank'>
                                                                                    VISIT SITE
                                                                                </a>
                                                                                &nbsp;&nbsp;|&nbsp;&nbsp;
                                                                                <a href='https://aes.primtek.net' style='text-decoration:underline; color:#848789;' target='_blank'>
                                                                                    GO TO PORTAL
                                                                                </a>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align='center' style='font-size:0px;padding:5px;word-break:break-word;'>
                                                                            <div style='color:#848789;font-family:Open Sans, Arial, sans-serif;font-size:12px;line-height:18px;text-align:center;text-transform:uppercase;'>
                                                                                ©2‌2021 Air Environmental Services. All Rights Reserved.
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align='center' style='font-size:0px;padding:5px;word-break:break-word;'>
                                                                            <div style='color:#848789;font-family:Open Sans, Arial, sans-serif;font-size:12px;line-height:18px;text-align:center;text-transform:uppercase;'>
                                                                                If you do not wish to receive any further emails, please
                                                                                <span style='text-decoration:underline;'>
                                                                                    <a href='#' style='text-decoration:underline; color:#848789;' target='_blank'>
                                                                                        Let the administrator know
                                                                                    </a>
                                                                                </span>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <!-- End Footer Content -->
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!--[if mso | IE]>
                                        </td></tr></table>
                                        <![endif]-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>