﻿@model CertificationTracker.Models.Proposal

    <div style="background: #fff; padding: 20px; padding-bottom: 50px; border-radius: 15px">
        <img src="https://aes.primtek.net/media/logos/company-logo.png" style="width: 10%;" />
        <p style="font-family: Helvetica, sans-serif; font-size: 22px; font-weight: 600; color: #27532b; margin-top: 0px; padding-bottom: 10px">Air Environmental Services</p>
        <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: 400; color: #000;">In response to your request, we are pleased to submit this proposal to you and offer our professional services.</p>
        <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: 400; color: #000; padding-bottom: 20px">Attached below are the proposal documents. Please feel free to reach out to us if you have any questions. We look forward to your business.</p>

        <a href="https://www.CertificationTracker.net/contact-us/" target="_blank" data-saferedirecturl="https://www.CertificationTracker.net/contact-us/" style="background: #27532b; color: #fff; font-family: Helvetica, sans-serif; font-size: 15px; font-weight: 400; text-decoration: none; padding: 10px 40px; border-radius: 3px">Contact Us</a>
    </div>